// SASS VARIABLES:
$light-blue-color: #00FFFF;
$orange: #FFA500;
$dark-grey: #696969;
$clear: rgba(0,0,0,0.0);
$see-though-grey: rgba(0,0,0,0.4);

.article{
  height: 200px;
  background-size: 400px 300px;
  color: white;
  text-transform: uppercase;
}
.article1{
  background-image: url("/img/cyborg.png");
}
.article2{
  background-image: url("/img/map.jpg");
}
.article3{
  background-image: url("/img/mrDNA.png");
}
.article4{
  background-image: url("/img/robot.png");
}
.article5{
  background-image: url("/img/sound.png");
}
.article6{
  background-image: url("/img/touch.jpeg");
}
body{
  // background-color: lightblue;
  // background-color: red;
  text-align: center;
  font-size: 16px;
}
#bottom-header-row{
  background-color: $dark-grey;
  color: white;
  text-transform: uppercase;
}
.collapse{
    // border: 2px solid red;
    margin-top: 0px;
}
.dropdown-menu{
  background-color: $dark-grey !important;
  width: 350%;
}
.drop-down-link{
  padding: 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.dropdown-menu-ul{
  // margin-top: 20px;
}
.drop-menu-button{
  background-color: $clear;
  padding: 0px !important;
}
.dropdown-item{
  display: inline-block;
  margin-right: 75px;
  margin-top: 20px;
  color: white;
  text-transform: uppercase;

}
.featured, .article{
  border: 2px solid black;
  // backgh4round-repeat: no-repeat;
  background-position: center;
  text-shadow: 2px 2px black;
  cursor: pointer;
}
.featured:hover, .article:hover{
  opacity: 0.5;
}
.featured{
  height: 400px;
  background-image: url("/img/chip.jpg");
  background-size: 700px 500px;
  color: white;
  text-transform: uppercase;
}
.featured-text{
  position: absolute;
  background-color: $see-though-grey;
  bottom: 0px !important;
  left: 0px;
}
.featured-text h4{
  padding: 5px;
}
.fa-search{
  // margin-top: 5px;
}
h3{
  // color: red;
}
.dropdown-toggle{
  background-color: $clear;
}
li{
  display: inline;
}
.links-ul li{
  padding-top: 1px;
  padding-right: 12px;
  padding-left: 12px;
  cursor: pointer;
  border-right: 1px solid black;
}
.lorem{
  line-height: 1.5em;
}
.lorem-article{
  font-size: .8em;
}
.social:hover{
  color: black;
}
#newsletter{
  background-color: $orange;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
#title-box, header {
  border: 2px solid black;
  height: 90px;
}
#trending, #social-links{
  background-color: $orange;
  color: white;
}

#title-box{
  background-color: black;
  color: $light-blue-color;
}
.user-icon{
  // font-size: 3em;
}
.user-icon:hover{
  color: black;
}
#social-links{

}
.social, .user-icon{
  padding: 5px;
  cursor: pointer;
}
#small-header-box, #right-header-box, #trending, #social-links, #links, #newsletter{
  height: 45px;
  border: 2px solid black;
}

@media only screen and (max-width: 767px) {
    .article-headline{
      font-size: 2em;
    }
    .featured, .article{
      height: 150px;
      background-size: 100%;
    }
    .lorem{
      font-size: 1em;
    }
}
